/* .jpc-th  */
.jpc-th {
    display: flex;
    justify-content: space-between;

    .label-wrapper {
        display: flex;
        align-items: start;
        column-gap: 4px;
    }
    img {
        height: 18px;
    }

    .rate {
        padding: 0px 6px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.6px 1.6px 2.6px;
        cursor: help;
    }
    .rate.good {
        background-color: #00c80026;
        color: #005d00;
    }
    .rate.medium {
        background-color: #ffa60040;
        color: #6c4600;
    }
    .rate.bad {
        background-color: #ff000026;
        color: #960000;
    }
}/* .jpc-th */

.jpc-indicator {
    &.patch {
        background-color: #009ef517;
    }
    &.to-update {
        background-color: #ff000017;
    }
    &.up-to-date {
        background-color: #00c80017;
    }
}
