.jpc.jpc-th {
    cursor: help;
    .label-wrapper {
        display: inline-block;
    }

    .rate {
        float: right;
        padding: 0px 7px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.6px 1.6px 2.6px;
        cursor: help;
    }
    .rate.good {
        background-color: #00c80026;
        color: #005d00;
    }
    .rate.medium {
        background-color: #ffa60040;
        color: #6c4600;
    }
    .rate.bad {
        background-color: #ff000026;
        color: #960000;
    }
}/* .jpc.jpc-th */

.jpc.jpc-indicator {
    &.patch {
        background-color: #009ef517;
        &::before {
            content: "🩹 ";
        }
    }
    &.to-update {
        background-color: #ff000017;
        &::before {
            content: "❌ ";
        }
    }
    &.not-compatible {
        background-color: rgba(255, 162, 0, 0.13);
        cursor: help;
        &::before {
            content: "⚠️ ";
        }
    }
    &.up-to-date {
        &::before {
            content: "✅ ";
        }
        background-color: #00c80017;
    }

    .dl-link {
        float: right;
    }
}
