BODY {
    min-width: 120px;
}
#btn-container { 
    display: none; margin: 1em 0; 
    P { margin-top: 0; }
}
#error-msg { 
    color: red; font-weight: bold; 
}

.loader {
    margin-left: 10px;
    border: 3px solid #f3f3f3;       /* cercle de fond */
    border-top: 3px solid #555;      /* partie animée */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.8s linear infinite;
    display: inline-block;
    vertical-align: middle;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}